%style{ type: "text/css" }
  :plain
    p.val {
      float: left;
      margin-left: 10px;
      font-weight: bold;
    }
    p.tit, p.tit2 {
      float: left;
      clear: left;
    }
    
    .user_infos {
      display: block;
    }
    
    body {
      background: #EEEEEE;
      
      padding: 20px;
    }
    
    #container {
      background: #FFFFFF;
      padding: 20px;
      width: 80%;
      margin: 0 auto;
    }

    .clear {
      clear: both;
    }
    
    img.logo {
      float: right;
      padding-top: 10px
    }