%style{ type: "text/css" }
  :plain
    .val {
      
      margin-left: 10px;
      font-weight: bold;
    }
    .tit, .tit2 {

    }
    
    .tit.bold {
      
    }
    
    .user_infos {
      display: block;
    }
    
    body {
      background: #EEEEEE;
      height: 100%;
      padding: 20px;
      font-family: Arial;
    }
    
    #container {
      background: #FFFFFF;
      padding: 20px;
      width: 80%;
      margin: 0 auto;
      height: 100%;
    }

    .clear {
      clear: left;
    }
    
    img.logo {
      width: 70px;
    }