%div#inner_content
  #home_right
    - if home_page?
      %h2 &nbsp; 
    = parse_text markup("vimeo(144964214)")
    = render partial: "sections/articles"
  - text = markup tr(@page).text
  = parse_text text


