body *,html *{
  letter-spacing: initial;
    letter-spacing: '';
    font-weight: 300;
}
h1,h2,h3,h4,strong,b{
  font-weight:500;
}
h1{
  font-size: 20px;
}
a{
    transition:all .1s linear;
}
small, small *{
  font-size:12px;
}
.footer ul li{
  margin-top:6px;
}
/*Utils*/
.font-smaller{
  font-size:11px;
}
.pattern{
  opacity:.25;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=');
}
/*Extra*/
.article img{
  float:left;
  margin: 0 2% 1% 0;
  width:50%;
  max-width:300px;
}
.top-menu-social a{
  margin-right:18px;
  font-size:18px;
  margin-left:-8px;
  color:rgba(255,255,255,.5);
}
.top-menu-social a:hover{
  color:white;
}
.header-menu a{
  font-size:15px;
  padding:7px 9px;
  margin-right:.5%;
  color:rgba(0,0,0, .5);
}
.header-menu a:hover{
  background-color: rgba(0,0,0,.1);
}
.header-menu a.active{
  background-color: #D32B59;
  color:white;
}
/*Backgrounds*/
.bg-primary{
  background-color:#D32859;
}
/*Colors*/
.color-primary{
  color:#D32B59;
}
/*Layout*/
.line-max{
  max-width:1000px;
  float:none;
  margin:0 auto;
}
/*IDs*/
#btnMenu{
  line-height: 43px;
  width:40px;
  font-size:20px;
}
/*Responsive*/
/*tablet*/
@media screen and (max-width:800px) {
  .center-content-tablet{
    text-align: center;
  }
  .line-full-tablet{
    width:100%;
    padding:0 0 0 0;
    float:none;
  }
}
