- link = article_path(tr(article).title_url)
%li
  - text = "<span class='title'>#{tr(article).title}</span> <span class='date'>#{I18n.l(article.created_at.to_date, format: :custom)}</span>"
  = link_to text.html_safe, link
  - unless home_page?
    %p
      = markup truncate(article.text)

  .clear