%h2
  - if section == "news"
    News
  - else
    Blog

= render @articles

- if admin?
  .insert_article
    = link_to "Inserisci Blog Post", new_article_path(article_type: "post")
    |
    = link_to "Vai al blog", [:posts]

.line.bg-white
  .line-compress.line-max
  .separator50
