%h2
  - if section == "news"
    News
  - else
    Blog

%ul#articles_list

  =# @articles.to_html('/items', size: 10)

  = render @articles

  - if admin?
    .insert_article
      = link_to "Inserisci Blog Post", new_article_path(article_type: "post")
      |
      = link_to "Vai al blog", [:posts]
