#tabs_lavoro.right
  %h4 Corso di Interior Design
  %table{ cellspacing: 0 }
    %thead
      %tr
        %th Anno
        %th Diplomati
        %th Posti di lavoro offerti
    %tr
      %td 2006
      %td 13
      %td 19
    %tr
      %td 2007
      %td 17
      %td 25
    %tr
      %td 2008
      %td 17
      %td 22
    %tr
      %td 2009
      %td 19
      %td 24
    %tr
      %td 2010
      %td 16
      %td 21
    %tr
      %td 2011
      %td 19
      %td 4
    %tr
      %td 2012
      %td 15
      %td 5
    %tr
      %td 2013
      %td 13
      %td 3

    %tr.total
      %td Totali
      %td 129 
      %td 123

  %h4 Corsi di Grafica Pubblicitaria
  %table{ cellspacing: 0 }
    %thead
      %tr
        %th Anno
        %th Diplomati
        %th Posti di lavoro offerti
    %tr
      %td 2006
      %td 13
      %td 19
    %tr
      %td 2007
      %td 15
      %td 19
    %tr
      %td 2008
      %td 14
      %td 22
    %tr
      %td 2009
      %td 16
      %td 24
    %tr
      %td 2010
      %td 14
      %td 21
    %tr
      %td 2011
      %td 13
      %td 14
    %tr
      %td 2012
      %td 20
      %td 12
    %tr
      %td 2013
      %td 10
      %td 11
      
    %tr.total
      %td Totali
      %td 115 
      %td 142
