button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none; }

*, html, body {
  margin: 0;
  padding: 0; }

html, body {
  max-height: 100%;
  background: #bcbcbc; }

img {
  border: 0; }

ul {
  list-style-type: none; }

li {
  display: inline; }

.clear {
  clear: both; }

.clearleft {
  clear: left; }

.clearright {
  clear: right; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

a {
  text-decoration: none; }

.left {
  float: left; }

.right {
  float: right; }

body {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; }

h1 {
  display: none; }

h2 {
  margin-bottom: 10px;
  font-size: 1.3em; }

h3 {
  margin: 10px 0 5px 0; }

h4 {
  margin: 8px 0 4px 0; }

#logo {
  width: 13%; }

#backg {
  background: #dddddd;
  background: -moz-linear-gradient(top, #bbbbbb 0%, #bbbbbb 15%, white 33%, white 80%, #bbbbbb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbbbbb), color-stop(15%, #bbbbbb), color-stop(33%, white), color-stop(80%, white), color-stop(100%, #bbbbbb));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='!c1', endColorstr='!c4',GradientType=0 );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBBBBB', endColorstr='#FFFFFF',GradientType=0 ); }

a {
  color: #c82d5e; }

a:hover {
  color: white; }

#container {
  width: 85%;
  margin: 0 auto 0 auto;
  min-width: 980px;
  max-width: 1200px;
  padding: 0 0 0 0; }

#header {
  margin-top: 10px; }

#sub_container {
  margin: 20px 0; }

#content {
  float: left;
  width: 63.4%;
  background: #e9e9e9;
  color: #333333;
  min-height: 400px;
  margin: 0 0 0 2.3%;
  width: 82.6%;
  padding: 6px 1%;
  -moz-box-shadow: 3px 2px 10px #aaaaaa;
  -webkit-box-shadow: 3px 2px 10px #aaaaaa;
  box-shadow: 3px 2px 10px #aaaaaa; }
  #content ul li {
    display: block; }
  #content a {
    color: black;
    text-shadow: 1px 2px 0px white; }
  #content a:hover {
    color: #eeeeee;
    background: #777777;
    text-shadow: -1px -2px 0px #111111; }

#content p {
  text-shadow: 1px 2px 0px white;
  margin-bottom: 12px; }

#content #aside p {
  padding-top: 30px;
  font-size: 0.95em; }

#content_left {
  padding: 9px 0 9px 1.2%; }

#inner_content {
  width: 40%;
  float: left;
  line-height: 17px; }
  #inner_content a {
    font-weight: bold; }

#inner {
  font-size: 0.92em; }

#inner_content p {
  margin-right: 0.3%; }

#admin {
  padding: 10px 0;
  background: none;
  color: white;
  -moz-border-radius-bottomleft: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -webkit-border-bottom-right-radius: 8px; }
  #admin a {
    color: white;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 2px 8px; }
  #admin .left {
    font-weight: bold; }
    #admin .left a {
      font-weight: normal;
      background: #999999; }
    #admin .left a:hover {
      color: #333333;
      background: #eeeeee; }

#profile_tab {
  position: absolute;
  z-index: 3;
  text-align: right;
  right: 9%;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }
  #profile_tab a {
    display: block;
    padding: 6px 10px; }
  #profile_tab a:hover {
    background: #333333;
    color: white; }

a#profile_name {
  font-weight: bold;
  color: #a60b3c;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px; }

#profile_tab.hover {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #999999;
  height: 100px;
  border: 1px solid #cccccc;
  -moz-box-shadow: 3px 3px 8px #777777;
  -webkit-box-shadow: 3px 3px 8px #777777;
  box-shadow: 3px 3px 8px #777777; }
  #profile_tab.hover a#profile_name {
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    background: #dddddd;
    color: #a60b3c; }

#profile_links {
  background: #999999; }

#news {
  text-align: right;
  width: 23%;
  float: left;
  font-size: 0.9em; }
  #news h5 {
    border-bottom: 1px solid #545353;
    margin: 0 0 5px;
    height: 19px; }
  #news .news, #news .eventi, #news .lavoro {
    margin: 0 0 10px;
    text-shadow: 2px 2px 2px white; }
  #news h5 div {
    text-align: left;
    background: #888888;
    color: white;
    padding: 3px 10px 4px;
    text-transform: uppercase;
    float: right;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px; }
  #news ul {
    padding: 0 5px; }
  #news li {
    display: block;
    padding: 2px 0;
    text-align: left;
    margin-bottom: 6px; }
  #news .insert_article {
    margin-top: 10px;
    float: left; }
  #news .date {
    float: right; }
  #news a:hover .date {
    color: #333333; }

.articles.show .date {
  margin-top: 5px;
  font-size: 0.7em;
  float: right; }

#logo {
  float: left;
  -moz-box-shadow: -3px -3px 10px #777777;
  -webkit-box-shadow: -3px -3px 10px #777777;
  box-shadow: -3px -3px 10px #777777; }

#likebox {
  float: right;
  margin: 0 10px; }

#banner {
  float: left;
  margin: 0 0 0 2.3%;
  width: 84.7%;
  z-index: 1; }
  #banner img {
    -moz-box-shadow: 0px -3px 10px #333333;
    -webkit-box-shadow: 0px -3px 10px #333333;
    box-shadow: 0px -3px 10px #333333; }

.center {
  text-align: center; }

#gallery {
  float: right;
  margin: 0 0 0 1.2%;
  width: 45%; }

#imgstages {
  float: right;
  margin: 0 1.2%;
  width: 28%; }
  #imgstages img {
    width: 100%; }

#textstages {
  width: 74.6%; }

#banner img {
  width: 100%; }

#wip {
  text-align: center;
  margin: 0 5%;
  width: 40%; }

div#home_swf {
  float: left;
  margin: 0 1% 0 1.2%;
  width: 34%; }
  div#home_swf div {
    float: left;
    width: 49%;
    position: relative; }
  div#home_swf img {
    cursor: pointer;
    width: 100%; }
  div#home_swf img.hover, div#home_swf img.hover2 {
    display: none;
    position: absolute;
    top: 0; }
  div#home_swf img.hover2 {
    left: 0; }

#nav_cont {
  float: left;
  width: 13%; }

#social {
  margin: 10px 0 5px 0;
  text-align: right; }
  #social img {
    width: 24px; }

#nav {
  text-transform: uppercase;
  -moz-box-shadow: -3px 0px 5px #aaaaaa;
  -webkit-box-shadow: -3px 0px 5px #aaaaaa;
  box-shadow: -3px 0px 5px #aaaaaa;
  position: relative; }
  #nav li {
    text-align: right; }
    #nav li a {
      display: block;
      background: #c82d5e;
      padding: 10px 10px 10px 10px;
      color: white;
      font-size: 13px;
      border: 1px solid #871623;
      border-top: 1px solid #c82d5e;
      border-bottom: 1px solid #c82d5e; }
  #nav li .subnav {
    display: none; }
  #nav li:hover .subnav {
    display: block; }
  #nav li#masterbutt a {
    background: #392c79; }
  #nav li:hover a, #nav li#masterbutt:hover a, #nav li#concorso:hover a {
    background: #b42c4e;
    border: 1px solid #871623;
    background: -moz-linear-gradient(top, #7d1622 0%, #a82949 20%, #a82949 80%, #7d1622 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d1622), color-stop(20%, #a82949), color-stop(80%, #a82949), color-stop(100%, #7d1622));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='!c1', endColorstr='!c1',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d1622', endColorstr='#a82949',GradientType=0 ); }
  #nav .subnav li a {
    background: #c82d5e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c82d5e', endColorstr='#c82d5e',GradientType=0 );
    border: 1px solid #c82d5e; }
  #nav .subnav li:hover a {
    background: #a82949;
    background: -moz-linear-gradient(top, #7d1622 0%, #a82949 20%, #a82949 80%, #7d1622 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d1622), color-stop(20%, #a82949), color-stop(80%, #a82949), color-stop(100%, #7d1622));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='!c1', endColorstr='!c1',GradientType=0 );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d1622', endColorstr='#a82949',GradientType=0 );
    border: 1px solid #871623; }

.subnav {
  border: 1px solid #871623; }

.master .subnav {
  border: 1px solid #211949; }

.master ul#nav li a {
  border: 1px solid #211949;
  border-top: 1px solid #211949;
  border-bottom: 1px solid #211949;
  background: #392c79; }
.master ul#nav li#masterbutt a {
  background: #c82d5e; }
.master ul#nav li:hover a, .master ul#nav li#masterbutt:hover a {
  background: #2c2260;
  border: 1px solid #211949;
  background: -moz-linear-gradient(top, #211949 0%, #2d2264 20%, #2d2264 80%, #211949 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #211949), color-stop(20%, #2d2264), color-stop(80%, #2d2264), color-stop(100%, #211949));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='!c1', endColorstr='!c1',GradientType=0 );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#211949', endColorstr='#2d2264',GradientType=0 ); }

.master ul#nav .subnav li a {
  background: #392c79; }

.master ul#nav .subnav li:hover a {
  background: -moz-linear-gradient(top, #211949 0%, #2d2264 20%, #2d2264 80%, #211949 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #211949), color-stop(20%, #2d2264), color-stop(80%, #2d2264), color-stop(100%, #211949));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='!c1', endColorstr='!c1',GradientType=0 );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#211949', endColorstr='#2d2264',GradientType=0 ); }

ul.subnav {
  position: absolute;
  width: 140px;
  right: -140px;
  z-index: 3; }

#nav li .subnav.sub2 {
  display: none; }
#nav li .subnav li:hover .subnav.sub2 {
  display: block; }
#nav li .subnav li:hover .subnav.sub2 li a {
  background: #c82d5e;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c82d5e', endColorstr='#c82d5e',GradientType=0 ); }
#nav li .subnav li .subnav.sub2 li:hover a {
  background: #a82949;
  background: -moz-linear-gradient(top, #7d1622 0%, #a82949 20%, #a82949 80%, #7d1622 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d1622), color-stop(20%, #a82949), color-stop(80%, #a82949), color-stop(100%, #7d1622));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='!c1', endColorstr='!c1',GradientType=0 );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d1622', endColorstr='#a82949',GradientType=0 );
  border: 1px solid #871623; }

#inner {
  width: 55%; }

#inner.home {
  width: 100%; }

#inner.full {
  width: 100%; }

#inner.error {
  margin-top: 30px; }
  #inner.error h2 {
    margin-bottom: 20px; }

ul#selection {
  width: 280px;
  margin: 150px auto; }
  ul#selection li {
    text-align: center; }
    ul#selection li a {
      display: block;
      background: #c82d5e;
      padding: 7px 0;
      color: white;
      font-size: 1.06em; }
  ul#selection li#masterbutt a {
    background: #392c79; }
  ul#selection li:hover a, ul#selection li#masterbutt:hover a {
    background: #b42c4e; }

#video {
  float: right;
  margin: 0 2px 5px 15px; }
  #video iframe {
    width: 360px;
    height: 252px; }

#aside {
  background: #c82d5e;
  clear: right;
  float: right;
  display: block;
  width: 340px;
  color: white;
  padding: 10px 10px;
  margin: 0 2px 0 15px; }
  #aside li {
    margin: 4px 0; }
  #aside p {
    text-shadow: none; }

.master #aside {
  background: #392c79; }

#footer {
  background: #c82d5e;
  padding: 2px 5px 2px 0;
  color: white;
  font-size: 12px;
  text-align: right;
  margin: 15px 0 20px;
  -moz-box-shadow: 0px 3px 10px #444444;
  -webkit-box-shadow: 0px 3px 10px #444444;
  box-shadow: 0px 3px 10px #444444; }

.master #footer {
  background: #392c79; }

form {
  margin-top: 10px; }

input, textarea {
  color: #333333;
  display: block;
  width: 80%; }

label {
  font-size: 0.85em;
  font-weight: bold; }

input, textarea {
  margin: 4px 0 10px;
  padding: 4px 8px;
  font-size: 1.2em; }

textarea {
  height: 150px; }

input.submit {
  font-size: 1.5em;
  margin: 10px 20% 40px 0;
  width: auto;
  float: right; }

.new textarea, .edit textarea {
  height: 450px; }

textarea.small {
  height: 50px; }

.admin form {
  padding: 10px; }
.admin label {
  font-size: 1.2em;
  font-weight: bold; }
.admin input, .admin textarea {
  margin: 3px 0 10px;
  padding: 6px 10px;
  font-size: 1.2em; }
.admin input.submit {
  font-size: 1.5em;
  margin: 20px 20% 40px 0;
  width: auto;
  float: right; }

input.submit {
  font-size: 1.5em;
  margin: 10px 18% 40px 0;
  width: auto;
  float: right; }

input[type='submit'], input.submit {
  display: inline-block;
  padding: 0.1em 1em 0.12em;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  border: solid 1px #cccccc;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  border: solid 1px #bc2a58;
  background-color: #c82d5e;
  background: -webkit-gradient(linear, left top, left bottom, from(#db5d85), to(#c82d5e));
  background: -moz-linear-gradient(top, #db5d85, #c82d5e);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5d85', endColorstr='#c82d5e');
  color: #f9eaee; }
  input[type='submit']:hover, input.submit:hover {
    text-decoration: none; }
  input[type='submit']:active, input.submit:active {
    position: relative;
    top: 1px; }
  input[type='submit']:hover, input.submit:hover {
    background-color: #b32854;
    background: -webkit-gradient(linear, left top, left bottom, from(#d8507b), to(#b32854));
    background: -moz-linear-gradient(top, #d8507b, #b32854);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8507b', endColorstr='#b32854'); }
  input[type='submit']:active, input.submit:active {
    background-color: #d8507b;
    background: -webkit-gradient(linear, left top, left bottom, from(#c82d5e), to(#d8507b));
    background: -moz-linear-gradient(top, #c82d5e, #d8507b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c82d5e', endColorstr='#d8507b');
    color: #eec0ce; }

input[type='checkbox'], input.checkbox {
  width: 23px;
  float: left; }

input.radio {
  width: 10px;
  margin-right: 50px; }

input.radio2 {
  width: 10px; }

#login {
  font-size: 0.9em;
  margin: 10px 5px 0 0; }

#user_interested_in_visual {
  display: inline; }

#user_interested_in_interior {
  display: inline; }

.borse_di_studio .first {
  float: left;
  width: 48%; }
.borse_di_studio .second {
  float: left;
  width: 48%; }

.forms_form .checkboxes {
  float: left;
  width: 40%; }
  .forms_form .checkboxes label {
    float: left; }
  .forms_form .checkboxes input {
    float: left;
    clear: left;
    width: 30px; }
  .forms_form .checkboxes h3 {
    clear: left;
    margin: 0 0 5px 0; }
.forms_form .form {
  width: 55%;
  float: right; }
.forms_form .checkboxes_bottom input {
  float: left;
  clear: left;
  width: 30px; }
.forms_form .checkboxes_bottom label {
  float: left; }

.forms_pdf {
  width: 60%;
  margin: 0 0 15px 0;
  padding: 0px 0px 10px 0;
  float: left;
  background: none; }
  .forms_pdf div {
    width: 44%;
    float: left; }
  .forms_pdf .email, .forms_pdf .row {
    width: 100%; }
  .forms_pdf input.submit {
    margin: 0;
    float: right;
    margin: 10px 16% 20px 0; }
  .forms_pdf .authorize {
    float: left;
    margin-top: 17px; }
    .forms_pdf .authorize label {
      float: left;
      position: relative;
      top: -8px;
      margin-left: 3px;
      font-size: 0.93em;
      width: 130px; }

.forms_pdf.bg {
  background: #dddddd; }

#galleria {
  clear: left; }
  #galleria img {
    float: left;
    width: 100px;
    padding: 0 15px 10px 0; }

#flashes div {
  text-align: center;
  margin: 0 auto 12px;
  padding: 4px 10px;
  width: 30%;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }
#flashes .notice {
  background: #aaeeaa;
  color: #005500;
  border: 1px solid #005500; }
#flashes .error {
  background: #ffbbbb;
  color: #bb1111;
  border: 1px solid #005500; }

#textile_ref {
  margin: 10px;
  padding: 10px;
  background: #d8d8d8;
  float: left; }

.complete {
  font-size: 1.2em; }

.error_messages li {
  color: #ad0100; }

#photos {
  overflow: hidden;
  height: 150px; }
  #photos a {
    margin: 10px 5px; }
