.user_infos
  %h3 Voglio ricevere informazioni su:

  - show_selection :int_annuali_visual, "Corso annuale Visual Design"
  - show_selection :int_annuali_interior, "Corso annuale Interior Design"
  - show_selection :int_brevi_visual, "Corsi brevi Visual Design"
  - show_selection :int_brevi_interior, "Corsi brevi Interior Design"

  %h3 Voglio partecipare a:

  - show_selection :int_stage_visual, "Stage Visual Design"
  - show_selection :int_stage_interior, "Stage Interior Design"
  
  - unless @user.interested_in.blank?
  
    %h3 Vorrei ottenere una borsa di studio per:

    %p= @user.interested_in
    

    - infos = ["Altri titoli di studio/corsi di specializzazione frequentati", "Esperienze (anche amatoriali) nel campo specifico del corso prescelto", "Esperienze di lavoro maturate", "Cosa mi spinge a compiere studi in questo ambito", "Altre Info. utili, idonee a valutare il mio interesse a partecipare al corso"] 
    - 5.times do |i|
      - val = @user.send("info#{i}")
      - unless val.blank?
        %p.tit.bold #{infos[i]}:
        %p= val
