%h2 Utenti

= link_to "Newsletter", [:user_newsletter], class: "button"

%h4 Data ultima modifica - Nome
%ul#users
  = render @users

.pagination
  pag:
  - User.pages.times do |i|
    %a{ :href => "/users?page=#{i}" }= i+1