%h2 Password reset!

%p
  - if english?
    We've sent you an email with a link to reset your password. Please check it.
  - else
    Ti abbiamo inviato un'email con un link per ripristinare la tua password. Controlla la tua casella di posta.
