%h1
  = site_title
%a{ href: "/" }
  - if master?
    = image_tag "logo_blu.png", id: "logo"
  - else
    = image_tag "logo.png", id: "logo"
#banner
  - banner = Banner.new
  - banner.files.each_with_index do |file, idx|
    - options = {}
    - options[:class] = "first" if idx == 0
    - page = banner.page(file)
    - options[:"data-page-url"] = tr(page).title_url if page
    = image_tag file, options
.clear