:markdown

  ## Utilizzo dei Cookie

  Questo sito utilizza i cookies. Utilizzando il nostro sito web l’utente dichiara di accettare e acconsentire all’utilizzo dei cookies in conformità con i termini di uso dei cookies espressi in questo documento.

  #### Cosa sono i cookie?

  I cookie sono file di testo che contengono informazioni che vengono memorizzate sul tuo computer o device mobile tutte le volte che visiti un sito online attraverso un browser. Ad ogni successiva visita il browser invia questi cookies al sito web che li ha originati.
  I cookies permettono ai siti di ricordare alcune informazioni per permetterci di analizzare il traffico dei nostri utenti per ottenere informazioni che ci permetteranno di facilitare la navigazione sul sito di Accademia Cappiello.

  Ci sono due principali tipi di cookie: i cookie di sessione e cookies permanenti.
  I cookie di sessione vengono eliminati dal computer automaticamente quando chiudi la tab di navigazione, mentre i cookie permanenti restano memorizzati sul tuo computer a meno che non siano eliminati o raggiungano la loro data di scadenza.

  ### I cookie sul nostro sito

  Sul nostro sito non sono presenti cookie persistenti ma solo cookie di sessione, che quindi verranno cancellati dal tuo browser alla chiusura della tab di navigazione.


  ### I cookie di terze parti

  ##### Google

  Accademia Cappiello utilizza Google Analytics per raccogliere informazioni circa l’utilizzo degli utenti del proprio sito web. Google Analytics genera informazioni statistiche e di altro genere attraverso i cookie, memorizzati sui computer degli utenti. Le informazioni generate relative al nostro sito web sono utilizzate per fare dei report sull’utilizzo dei siti web. Google memorizzerà ed utilizzerà queste informazioni. La politica sulla privacy di Google è disponibile al seguente indirizzo

  <https://www.google.es/intl/it/policies/technologies/types/> sezione Pubblicita'


  ### COME DISABILITARE I COOKIE

  Nel caso volessi bloccare cookie potrai farlo in qualsiasi momento.


  La maggior parte dei browser ti permette di rifiutare/accettare i cookie.
  Di seguito ti riportiamo il link per scaricare il plugin Ghostery da installare sul tuo browser.

  ### <https://www.ghostery.com/en/download>

  <br>

  Per maggiori informazioni contattare:

  <a href='makevoid@gmail.com'>makevoid@gmail.com</a>

  <br>

  Titolare del trattamento.

  Accademia Cappiello.

  <br>

  Diritti dell’interessato.

  Ai sensi dell’art. 7 Codice Privacy, in qualsiasi momento l’interessato ha diritto di ottenere la conferma dell’esistenza o meno dei dati che lo riguardano e di conoscerne il contenuto e l’origine, di verificarne l’esattezza o chiederne l’integrazione o l’aggiornamento, oppure la rettificazione. Ha altresì il diritto di chiedere la cancellazione, la trasformazione in forma anonima o il blocco dei dati trattati in violazione di legge, nonché di opporsi per motivi legittimi al trattamento dei dati che la riguardano scrivendo all’indirizzo sopra indicato.
