:ruby
  def load_content(page_name)
    - puts "DEBUG PIPPO: page_name: #{page_name.inspect}"
    page = Page.find_by_url page_name
    text = markup tr(page).text
    parse_text text
  end

/ ACCADEMIA
.line.bg-white
  .line-compress.line-max
    .separator30
    %h1.line.center-content-tablet
      - if @page
        = tr(@page).title
      - else
        Inserire titolo
    .separator10
    .separator15.pattern
    .separator30
    .line.article
      -#.db_content.cont_main

      - path_split = request.path.split "/"
      - path_one = path_split[1] # /pages ... etc
      - path_two = path_split[2] # /name of the page (/pages/name)
      - if request.path == "/"
        = load_content "l_accademia"
      - elsif path_one == "pages"
        = load_content path_two || "l_accademia"
      - elsif
        %h1 Don't know what to load here... sorry!

      -# %img{:src => "http://farm9.static.flickr.com/8126/8657296175_fbc6f3a697_b.jpg"}/
      -# Dal 1956 l’Accademia d’Arte e design Leonetto Cappiello è il luogo ideale per esprimere la propria creatività e per tradurla in una reale opportunità di lavoro. Qui si insegna a dare forma, la migliore possibile, alle idee, perchè ogni professione, anche la più creativa, non si può improvvisare. Ha bisogno di basi, di nozioni, di tecniche.
      -# L’Accademia, intitolata al grande cartellonista livornese Leonetto Cappiello attivo a Parigi ai primi del ‘900, è stata una delle prime Accademie, se non la prima in italia, ad ottenere il riconoscimento del Ministero della Pubblica istruzione tramite il Consorzio Provinciale per l’istruzione Tecnica di Firenze con provvedimento n. 1368 del 28 Agosto 1956
  .separator50
/ end ACCADEMIA
/ CORSI
.line.bg-muted-inverse
  .line-compress.line-max
    .separator30
    %h1.line.color-white.center-content-tablet I Corsi
    .separator10
    .separator15.pattern
    .separator30
    .line.article
      .widget.bg-white
        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/KICyR3BZWwE", :width => "100%"}
        .separator15
        .line-compress
          .line-compress
            %h3 Corso 1
            .separator5
            %h6 Il corso hau na descrizione finta, a breve
            .separator30
            %a.push-right.toggle-opacity-hover{:href => "#"}
              Info
        .separator15
      .widget.bg-white
        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/KICyR3BZWwE", :width => "100%"}
        .separator15
        .line-compress
          .line-compress
            %h3 Corso 2
            .separator5
            %h6 Il corso hau na descrizione finta, a breve
            .separator30
            %a.push-right.toggle-opacity-hover{:href => "#"}
              Info
        .separator15
      .widget.bg-white
        %iframe{:allowfullscreen => "", :frameborder => "0", :src => "https://www.youtube.com/embed/KICyR3BZWwE", :width => "100%"}
        .separator15
        .line-compress
          .line-compress
            %h3 Corso 3
            .separator5
            %h6 Il corso hau na descrizione finta, a breve
            .separator30
            %a.push-right.toggle-opacity-hover{:href => "#"}
              Info
        .separator15
  .separator50
/ end CORSI
/ --------------end content
/ GALLERY
.line.bg-white
  .line-compress.line-max
    .separator30
    %h1.line.center-content-tablet La Gallery
    .separator10
    .separator15.pattern
    .separator30
    .line.center-content
      .col5.line-tablet
        %a.bg-white.no-radius.col5.color-black.toggle-opacity-inverse-hover
          .separator3
          Grafica Pubblicitaria
          .separator3
        %a.bg-primary-2.color-white.no-radius.col5.toggle-opacity-inverse-hover
          .separator3
          Interior Design
          .separator3
      .separator10.tablet.mobile
      .col5.line-tablet
        %a.bg-primary-3.color-white.no-radius.col5.toggle-opacity-inverse-hover
          .separator3
          Digital Communication
          .separator3
        %a.bg-primary-4.color-white.no-radius.col5.toggle-opacity-inverse-hover
          .separator3
          Eventi
          .separator3
    .separator30
    .line.article qui la gallery
  .separator50
/ GALLERY
/ footer
%footer.footer.line-compress.line-max.center-content-tablet
  .separator30
  .col5.line-tablet
    .col5.color-white
      .separator30
      %h3 Column 1
      %ul
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
    .col5.color-white
      .separator30
      %h3 Column 2
      %ul
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
  .col5.line-tablet
    .col5.color-white
      .separator30
      %h3 Column 3
      %ul
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
    .col5.color-white
      .separator30
      %h3 Column 4
      %ul
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
        %li
          %a.color-white.toggle-opacity-hover{:href => "#"} Link
  .separator100
  .color-muted-inverse.font-smaller.center-content © 2015 Accademia Cappiello - Firenze
  .separator50
/ end footer





-# #standard
-#   - text = markup tr(@page).text
-#   = parse_text text
