.bg-white
.line.bg-white
  .line-compress.line-max
    .separator50
    %h1.line.center-content.article-title.font-custom
      Borse di Studio
    .separator30
    .separator15.pattern
    .separator30
    .line.article
    MANCA QUI LA PAGINA ?

    .separator30
