/ footer
%footer.footer.bg-black
  .separator30
  .line.line-footer.bg-black
    .col4.line-tablet.center-content-tablet
      %img{src: "/images/logo-footer.png", width: "200"}
    .col5.line-tablet.right-content.center-content-tablet
      .separator15
      .separator15.tablet.mobile
      %a.toggle-opacity-hover.color-muted-inverse{href: "https://www.facebook.com/accademiaartedesigncappiello", target: "_blank"}
        %i.fa.fa-2x.fa-facebook-official &nbsp;&nbsp;
      %a.toggle-opacity-hover.color-muted-inverse{href: "http://twitter.com/Acc_Cappiello", target: "_blank"}
        %i.fa.fa-2x.fa-twitter &nbsp;&nbsp;
      %a.toggle-opacity-hover.color-muted-inverse{href: "http://instagram.com/accademiacappiello", target: "_blank"}
        %i.fa.fa-2x.fa-instagram &nbsp;&nbsp;
      %a.toggle-opacity-hover.color-muted-inverse{href: "http://www.flickr.com/photos/accademiacappiello/", target: "_blank"}
        %i.fa.fa-2x.fa-flickr &nbsp;&nbsp;
      %a.toggle-opacity-hover.color-muted-inverse{href: "http://vimeo.com/user5798268", target: "_blank"}
        %i.fa.fa-2x.fa-vimeo
      .separator30.tablet.mobile
  .separator15
  .separator10
  .line.line-compress.center-content-tablet.bg-black-more
    .line-footer
      .col5.line-tablet
        .col5.line-tablet.color-white
          .separator30
          %h3.color-muted-inverse La Scuola
          %ul
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "/#accademia"} Accademia
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "/#contatti"} Dove Siamo
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "/#contatti"} Contatti
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "#TODO"} Privacy Policy
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "/cookies"}= tf "Utilizzo dei Cookies", "Cookie Policy"
        .col5.line-tablet.color-white
          .separator30
          %h3.color-muted-inverse Opportunità
          %ul
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "/#borse-di-studio"} Borse di studio
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "/pages/open_days"} Open Day!
      .col5.line-tablet.line-tablet
        .col5.line-tablet.color-white
          .separator30
          %h3.color-muted-inverse Per le aziende
          %ul
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "#TODO"} Partnership
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "#TODO"} Offerte di lavoro
        .col5.line-tablet.color-white
          .separator30
          %h3.color-muted-inverse Corsi e Master
          %ul
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "/pag/courses_sel?s=annuale"} Corsi annuali
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "/pag/courses_sel?s=master"} Master
            .separator10
            %li
              %a.color-white.toggle-opacity-hover{href: "/pag/courses_sel?s=breve"} Corsi brevi e serali
      .separator100
      .color-muted-inverse.font-smaller.center-content © 2015 Accademia Cappiello - Firenze
      .separator50
