.line.bg-white
  .line-compress.line-max
    .separator30
    %h1.article-title.line.center-content-tablet Roberto Cognome
    %h3 Artworks
    .separator10
    .separator15.pattern
    .separator30
    .line.article
    .col7.line-tablet
      .line-compress.bg-muted
        .separator15
        %img{:src => "http://localhost:3000/images/corsi/corso_web_design.jpg", :width => "100%"}
        .separator15
        Descrizione Artwork
        .separator30
        %img{:src => "http://localhost:3000/images/corsi/corso_web_design.jpg", :width => "100%"}
        .separator15
        Descrizione Artwork
        .separator15
    .col3.line-tablet
      .separator30.tablet.mobile
      .col9.offset-left1.line-tablet
        .line
          .separator15
          .col3
            .col9.offset-left1
              %img.radius-full.v-middle.border{:src => "http://www.ilas.com/showcase/css/image/no-foto.png", :width => "80%"}
          .col7
            %h3
              Nome Cognome
            %p
              %a.toggle-opacity-inverse-hover
                %i.fa.fa-facebook.fa-2x
              &nbsp;
              %a.toggle-opacity-inverse-hover
                %i.fa.fa-twitter.fa-2x
              &nbsp;
              %a.toggle-opacity-inverse-hover
                %i.fa.fa-instagram.fa-2x
            .separator15
          .separator10
          .separator15
          %h6.color-muted.line-compress.font-bold
            ABOUT ME
          %p.line-compress
            Una breve storia di me i mie lorem ipsum
          .separator15
          .pattern.separator10
          .separator15
          %h6.line-compress.color-muted.font-bold
            COMPETENZE
          %p.line-compress
            Una breve storia di me i mie lorem ipsum
          .separator15
          .pattern.separator10
          .separator15
          %p
            %button.btn.bg-primary.color-white
              .separator5
              CONTATTAMI
              .separator5
          .separator15
