.line.bg-white
  .line-compress.line-max
    .separator15
    %h1.line.center-content-tablet
      Calendario
    .separator10
    .separator15.pattern
    .separator30
    .line.article
      %p testo
  .separator50

.line.bg-white
  .line-compress.line-max
  .separator50
