
.line.bg-white
  .line-compress.line-max
    #map_canvas
    .separator30
    %h1.line.center-content-tablet
      Contatti
    .separator10
    .separator15.pattern
    .separator30
    .line.article
      %h3 Accademia d’Arte e Design Leonetto Cappiello
      %p
        Viale Michelangiolo 19, 50125
        %span.caps FIRENZE
        %br/
        %span.caps TEL
        |
        = succeed ":" do
          %span.caps FAX
        %br/
        da Lunedì a Venerdì 9.00-13.00, 16.00-18.00
      %p
        %strong email
        %br/
        %a{:href => "mailto:info@accademiacappiello.it"} info@accademiacappiello.it
      %p
        N°Iscrizione
        %span.caps CCIAA
        di Firenze e P.
        %span.caps IVA
        04049410485
      %p
        %a{:href => "https://www.facebook.com/accademiaartedesigncappiello"} Facebook
        %br/
        %a{:href => "https://twitter.com/Acc_Cappiello"} Twitter
      %p
        %a{:href => "http://maps.google.it/maps?client=safari&oe=UTF-8&ie=UTF8&q=accademia+cappiello+firenze&fb=1&gl=it&hq=accademia+cappiello&hnear=Florence&t=h&z=16&iwloc=A"}
          %span.caps COME
          %span.caps RAGGIUNGERCI
      %p
        %a{:href => "/pages/info"}
          Iscriviti alla
          %span.caps NEWSLETTER
      %p
  .separator50
